// Mixin for Responsive Media Queries
@mixin respond-to($breakpoint) {
    @if $breakpoint == small {
      @media (max-width: 576px) { @content; }
    } @else if $breakpoint == medium {
      @media (max-width: 768px) { @content; }
    } @else if $breakpoint == large {
      @media (max-width: 992px) { @content; }
    } @else if $breakpoint == xlarge {
      @media (max-width: 1200px) { @content; }
    }
  }
  
  // Mixin for Font Smoothing
  @mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  // Mixin for Flexbox Centering
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // Mixin for Gradient Background
  @mixin gradient-bg($start-color, $end-color) {
    background: linear-gradient(to right, $start-color, $end-color);
  }
  