{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Update Profile</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data" action="{% url 'accounts:update_profile' %}">

                {% csrf_token %}
                
                <h3 class="text-secondary">Account Information</h3>
                <hr>
                
                <div class="mb-3">
                    <label for="{{ user_form.username.id_for_label }}" class="form-label">Name</label>
                    {{ user_form.username }}
                    {{ user_form.username.errors }}
                </div>
                <div class="mb-3">
                    <label for="{{ user_form.email.id_for_label }}" class="form-label">Email</label>
                    {{ user_form.email }}
                    {{ user_form.email.errors }}
                </div>
                <div class="mb-3">
                    <label for="{{ user_form.phone_number.id_for_label }}" class="form-label">Phone Number</label>
                    {{ user_form.phone_number }}
                    {{ user_form.phone_number.errors }}
                </div>
                
                <h3 class="text-secondary mt-4">Profile Information</h3>
                <hr>
                
                <div class="mb-3">
                    <label for="{{ profile_form.profile_picture.id_for_label }}" class="form-label">Profile Picture</label>
                    {{ profile_form.profile_picture }}
                    {{ profile_form.profile_picture.errors }}
                </div>
                <div class="mb-3">
                    <label for="{{ profile_form.date_of_birth.id_for_label }}" class="form-label">Date of Birth</label>
                    {{ profile_form.date_of_birth }}
                    {{ profile_form.date_of_birth.errors }}
                </div>
                <div class="mb-3">
                    <label for="{{ profile_form.gender.id_for_label }}" class="form-label">Gender</label>
                    {{ profile_form.gender }}
                    {{ profile_form.gender.errors }}
                </div>
                <div class="mb-3">
                    <label for="{{ profile_form.bio.id_for_label }}" class="form-label">Bio</label>
                    {{ profile_form.bio }}
                    {{ profile_form.bio.errors }}
                </div>
                <div class="mb-3">
                    <label for="{{ profile_form.timezone.id_for_label }}" class="form-label">Timezone</label>
                    {{ profile_form.timezone }}
                    {{ profile_form.timezone.errors }}
                </div>

                <button type="submit" class="btn btn-primary w-100 mt-4">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
