{% extends 'base.html' %}

{% block title %}Update Address{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Update Address</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Update Address</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
