// Table Styles
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  
    th, td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
  
    thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
    }
  
    tbody + tbody {
      border-top: 2px solid #dee2e6;
    }
  
    &-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  
    &-hover tbody tr:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }
  
    &-bordered {
      border: 1px solid #dee2e6;
  
      th, td {
        border: 1px solid #dee2e6;
      }
    }
  
    &-borderless th,
    &-borderless td {
      border: 0;
    }
  
    &-sm th, &-sm td {
      padding: 0.3rem;
    }
  
    &-lg th, &-lg td {
      padding: 1rem;
    }
  }
  